h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(22, 20, 20);
    background-color: whitesmoke;
}

 h2 {
    font-size: 2 rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    margin: 1rem;
    font-weight: lighter;
    color: rgb(22, 20, 20);
    background-color: whitesmoke;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75;

    color: rgb(22, 20, 20);
    background-color: papayawhip;
}

.logo {
    background-size: cover;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
    background-color: none;
    height: 5rem;
    width: 5rem;
}
